<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MyInvest</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="app.css">
    <link href="https://fonts.googleapis.com/css?family=Dosis:100,300,400,600,700%7COpen+Sans:400,500,600" rel="stylesheet" type="text/css">
    <script src="https://use.fontawesome.com/c66c33c7d6.js"></script>
</head>

<body ng-app="MyInvest">

    <div ng-controller="BodyController as bc">       

        <div class="img-header">
            <header class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 texto-header ">
                        <h2>O CREDITO QUE VC PRECISA!</h2>
                        <h3>Li Europan lingues es membres del sam familie. Lor separat existentie es un myth. Por scientie, musica,
                            sport etc, litot Europa usa li sam vocabular. Li lingues differe solmen in li grammatica, li
                            pronunciation e li plu commun vocabules.
                        </h3>

                    </div>
                </div>
            </header>
        </div>

        <div ng-if="bc.textoEstrutura">
            <section class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="col-md-6 texto-explicao">
                            <img src="https://s-media-cache-ak0.pinimg.com/736x/e4/70/4a/e4704a3db8cebf1609175f4456661238.jpg" class="center-block" />
                        </div>

                        <div class="col-md-6 texto-explicao" style="padding-top: 55px">
                            <h3 class="text-center">ALGUM TITULO</h3>
                            <p class="text-center">Li Europan lingues es membres del sam familie. Lor separat existentie es un myth. Por scientie,
                                musica, sport etc, litot Europa usa li sam vocabular. Li lingues differe solmen in li grammatica,
                                li pronunciation e li plu commun vocabules.</p>
                        </div>

                    </div>
                </div>
            </section>

            <section class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="col-md-6 texto-explicao" style="padding-top: 55px">
                            <h3 class="text-center">ALGUM TITULO</h3>
                            <p class="text-center">Li Europan lingues es membres del sam familie. Lor separat existentie es un myth. Por scientie,
                                musica, sport etc, litot Europa usa li sam vocabular. Li lingues differe solmen in li grammatica,
                                li pronunciation e li plu commun vocabules.</p>
                        </div>

                        <div class="col-md-6 texto-explicao">
                            <img src="https://s-media-cache-ak0.pinimg.com/736x/e4/70/4a/e4704a3db8cebf1609175f4456661238.jpg" class="center-block" />
                        </div>
                    </div>
                </div>
            </section>

            <div class="well well-lg texto-explicativo clearfix">
                <section class="container">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1 text-center">
                            <div class="col-md-4">
                                <i class="fa fa-money fa-5x" aria-hidden="true"></i>
                                <p>MOTIVO PELO QUAL VC DEVERIA DEIXAR SEU EMAIL 1</p>
                            </div>

                            <div class="col-md-4">
                                <i class="fa fa-heart-o fa-5x" aria-hidden="true"></i>
                                <p>MOTIVO PELO QUAL VC DEVERIA DEIXAR SEU EMAIL 2</p>
                            </div>

                            <div class="col-md-4">
                                <i class="fa fa-users fa-5x" aria-hidden="true"></i>
                                <p>MOTIVO PELO QUAL VC DEVERIA DEIXAR SEU EMAIL 3</p>
                            </div>

                        </div>

                    </div>
                </section>
            </div>

            <div class="imagem-background">
                <section class="container" ng-controller="FormController as fc">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3">
                            <section class="well well-lg clearfix well-input-size">
                                <h3 class="text-center demostracao-texto">Solicite uma demostracão</h3>
                                <div class="form-group">
                                    <label>Nome completo*</label>
                                    <input type="text" placeholder="Seu nome completo" class="form-control tamanho-input" ng-model="fc.inputName">
                                </div>

                                <div class="form-group">
                                    <label>E-mail*</label>
                                    <input id="email" type="text" placeholder="Seu e-mail" class="form-control tamanho-input" ng-model="fc.inputEmail" ng-keyup="fc.verificarEmail()"
                                        ng-class="{'input-erro': fc.emailError}">
                                </div>

                                <div class="form-group">
                                    <label>Cite o motivo principal</label>
                                    <select class="form-control tamanho-input" ng-model="fc.motivo">
                                        <option value=""></option>
                                        <option value="1">Razão 1</option>
                                        <option value="2">Razão 2</option>
                                        <option value="3">Razão 3</option>
                                    </select>
                                </div>

                                <small><small>Campos marcados com * são obrigatórios</small></small>

                                <div>
                                    <button type="button" class="btn btn-primary pull-right btn-lg botao-info-cor" ng-click="fc.enviarServidor()">Ver mais informacão</button>
                                </div>

                            </section>

                        </div>
                    </div>
                </section>
            </div>

        </div>

        <div ng-if="!bc.textoEstrutura">
            <section class="container">
                <div class="row">
                    <div class="col-md-6">
                        <img src="https://image.freepik.com/fotos-gratis/3d-rendem-de-morph-homem-que-procurara-com-lupa_1048-2931.jpg" alt="">
                    </div>
                    <div class="col-md-6">
                        <section class="well-input-size">
                            <h3 class="text-center demostracao-texto">Nos ajude na pesquisa</h3>
                            <div class="form-group">
                                <label>Nome completo*</label>
                                <input type="text" placeholder="Seu nome completo" class="form-control tamanho-input">
                            </div>

                            <div class="form-group">
                                <label>Data de Nascimento*</label>
                                <input id="email" type="text" placeholder="Seu e-mail" class="form-control tamanho-input">
                            </div>
                            <div class="form-group">
                                <label>CEP*</label>
                                <input id="email" type="text" placeholder="Seu e-mail" class="form-control tamanho-input">
                            </div>
                            <div class="form-group">
                                <label>Situacao Profissional:</label>
                                <select class="form-control tamanho-input">
                                        <option value=""></option>
                                        <option value="CLT">CLT</option>
                                        <option value="Autonomo">Autonomo</option>
                                        <option value="Profissional_liberal">Profissional liberal</option>
                                        <option value="Empresario">Empresario</option>
                                        <option value="Funcionario_publico">Funcionario público</option>
                                        <option value="Aposentado/Pensionista">Aposentado/Pensionista</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>E-mail*</label>
                                <input id="email" type="text" placeholder="Seu e-mail" class="form-control tamanho-input">
                            </div>
                            <div class="form-group">
                                <label>Telefone*</label>
                                <input id="email" type="text" placeholder="Seu e-mail" class="form-control tamanho-input">
                            </div>

                            <div class="form-group">
                                <label>Como esse crédito financeiro te ajudaria?*</label>
                                <select class="form-control tamanho-input">
                                        <option value=""></option>
                                        <option value="Pagamento">Pagamento de dívidas</option>
                                        <option value="Investimento">Investimento</option>
                                        <option value="Reforma">Reforma da casa</option>
                                        <option value="aquisicao">Aquisicão de bens</option>
                                        <option value="refinanciamento">Refinanciamento de dívidas</option>
                                        <option value="Outros">Outros</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Utiliza algum tipo de credito pessoal?*</label>
                                <select class="form-control tamanho-input">
                                        <option value=""></option>
                                        <option value="emprestimo_pes">Empréstimo pessoal</option>
                                        <option value="emprestimo_con">Empréstimo consignado</option>
                                        <option value="rotativo">Rotativo - Cartão de créedito</option>
                                        <option value="cheqEsp">Cheque especial</option>
                                        <option value="outros">Outros</option>
                                        <option value="nenhum">Nenhum</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label>Você pediria um empréstimo para realizar um sonho?*</label>
                                <div class="radio-inline">
                                    <input type="radio" name="sonhoProprio" value="sim">Sim
                                </div>
                                <div class="radio-inline">
                                    <input type="radio" name="sonhoProprio" value="nao">Não
                                </div>
                            </div>

                            <div class="form-group">
                                <label>Possui algum bem proprio em seu nome?*</label>
                                <div class="radio-inline">
                                    <input type="radio" name="bemProprio" value="sim">Sim
                                </div>
                                <div class="radio-inline">
                                    <input type="radio" name="bemProprio" value="nao">Não
                                </div>
                            </div>

                            <small><small>Campos marcados com * são obrigatórios</small></small>

                            <div>
                                <button type="button" class="btn btn-primary pull-right btn-lg botao-info-cor">Cadastrar</button>
                            </div>

                        </section>

                    </div>
                </div>
            </section>
        </div>

    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js" type="text/javascript"></script>
    <script src="app.js" type="text/javascript"></script>
</body>

</html>